$bg_dark :#111111;
$rotated_box:#FFB400;
$menu_side_item_bg_dark:#2B2A2A;
$menu_side_item_bg_light:#EEEEEE;
$font_awesome_color_dark:#DDDDDD;
$font_awesome_color_light:#666666;
$head_text_color_light:#666666;
