@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./font.css');
* {font-family: 'Poppins';
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.themeSwitcher{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 30px;
  right: 30px;
  background: #eee;
}
.themeSwitcher img{
  width: 40px;
  height: 28px;
  object-fit: cover;
}